body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #1eff00;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }